* {
  background-color: hsl(30, 38%, 92%);
}

body {
}

#container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1440px;
}

.text-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.prices {
  display: flex;
  justify-content: space-around;
}

.green-price {
  color: hsl(158, 36%, 37%);
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white;
}
